body {
	font-family: 'Baloo Chettan', cursive;
	font-size:20px;
}



.nav > li > a:focus, .nav > li > a {
    text-decoration: none;
    color: red;
	
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #f9b0d1;
} 
.navbar .navbar-toggle {
    border:none;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
}

.active a{
	background-color:pink;
}
h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.col-md-3 {
    background-color: whitesmoke;
	margin:5px;
	margin-left:45px;
	margin-right:45px;
}

.navbar {
	background-color: #0FF2D2;
    border-color: #0FF2D2;
	color:red;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
	margin-bottom:10px;
}


.row {
    margin-right: 0px;
    margin-left: 0px;
}

.transparentform {
  background:url(photos/glass.jpg);
  
  background-size:cover;
  width: 100%;
}

.transparentform a {
  text-decoration: none;
  color: #fff;
  transition: .5s ease;
}
.transparentform a:hover {
  color: #179b77;
}


.form {
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  transition: .20s ease;
}

.form:hover {
	box-shadow: 0px 0px 40px 16px rgba(18,18,18,1.00);
	}

input {
	border:none;
	background:none;
	border-bottom:2px solid white;
	
}
.wid{
	width:100%;
}
input:focus{
  outline: 0;
  border-color: #fff;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}
.lable {
	color:#e61b72;
}


.button {
  border: 0;
  
  outline: none;
  border-radius: 40px;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #46eabe;
  color: red;
  transition: all 0.1s ease;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}